# Version control
.git
.gitignore

# Dependencies
**/node_modules
**/venv

# Build artifacts
**/build
**/dist
**/__pycache__
**/*.pyc

# Development files
**/.env
**/.env.*
**/npm-debug.log
**/.DS_Store 